@model Do_an_CCNPMM.Models.NguoiDung

@{

	Layout = "~/Views/Shared/_Layout.cshtml";
}<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Login/Register</h1>
				<nav class="d-flex align-items-center">
				<a class="nav-link" asp-controller="Home" asp-action="Loadsanpham">Home<span class="lnr lnr-arrow-right"></span></a>
					<a >Login/Register</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
@{

	if (@ViewBag.mess != null)
	{
		<div class="col align-items-center">
			<div class="alert alert-danger col-lg-2 " role="alert">
				@ViewBag.mess
			</div>
		</div>
	}
}
<!--================Register Box Area =================-->
<section class="login_box_area section_gap justify-content-lg-center">
	<div class="container ">
		<div class="col-lg-6 ">
			<div class="login_form_inner">
				<h3>Enter OTP</h3>
				<form accept-charset="utf-8" class="row login_form" asp-action="OTP" id="customer_register" method="post" id="contactForm" novalidate="novalidate">
					<input name="FormType" type="hidden" value="customer_register">
					<input name="utf8" type="hidden" value="true">
					<input type="hidden" id="" name="Token" value="">

					<div class="col-md-12 form-group">
						<div class="row">
							<div class="col-md-12 form-group">
								<input placeholder="OTP" required="" asp-for="MaNguoiDung" class="form-control" />
								<span asp-validation-for="MaNguoiDung" class="text-danger"></span>
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="Đăng ký" class="primary-btn">Confirm</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
