@model Do_an_TMDT.Models.ThuongHieu

@{
    ViewData["Title"] = "Chỉnh sửa thương hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">@ViewData["Title"]: </h2>
    <div class="header-sub-title">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb breadcrumb-dash list-inline">
                <li class="breadcrumb-item list-inline-item">
                    <i class="anticon anticon-home m-r-5"></i>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item list-inline-item">
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminThuongHieus" asp-action="Index">Quản lý thương hiệu</a>
                </li>
                <li class="breadcrumb-item active list-inline-item" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </div>
</div>
            
<div class="row center-tabs">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaThuongHieu" />
            <div class="form-group">
                <label  class="control-label">Tên Thương Hiệu</label>
                <input asp-for="TenThuongHieu" class="form-control" oninput="slugGenarate()" id="slug-source" type="text" />
                <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Slug</label>
                <input asp-for="Slug" class="form-control" readonly type="text" id="slug-target" />
                <span asp-validation-for="Slug" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-area="Admin" asp-controller="AdminThuongHieus" asp-action="Index" class="btn btn-primary">Quay Lại</a>
            </div>

        </form>
    </div>
</div>
@section Scripts{

    <script>
        function slugGenarate() {

            var slug = document.getElementById("slug-source").value;
            slug = slug.toLowerCase().replace(/ /g, '-');

            //Đổi ký tự có dấu thành không dấu
            slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
            slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
            slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
            slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
            slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
            slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
            slug = slug.replace(/đ/gi, 'd');
            //Xóa các ký tự đặt biệt
            slug = slug.replace(/\`|\~|\!|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi, '');

            document.getElementById("slug-target").value = slug;

            document.getElementById("slug-target-span").innerHTML = slug;
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}