@model Do_an_TMDT.Models.NguoiDung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="~/css/1.css" rel="stylesheet" />
<link href="~/css/4.css" rel="stylesheet" />
<link href="~/css/3.css" rel="stylesheet" />

<section class="bread-crumb">
    <div class="container">
        <div class="nd-main-title-breadcrumb text-center">Thông Tin Khách Hàng</div>
        <ul class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
            <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <a itemprop="item" asp-controller="NguoiDungs" asp-action="Loadsanpham" title="Trang chủ">
                    <span itemprop="name">Trang chủ</span>
                    <meta itemprop="position" content="1">
                </a>
            </li>

            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <strong itemprop="name">Chi Tiết</strong>
                <meta itemprop="position" content="2">
            </li>

        </ul>
    </div>

</section>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNguoiDung" />

            <div class="form-group col-lg-6">
                <label asp-for="TenNguoiDung" class="control-label"></label>
                <input  required="" asp-for="TenNguoiDung" class="form-control" />
                <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input  required="" asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="TenDangNhap" class="control-label"></label>
                <input  required="" asp-for="TenDangNhap" class="form-control" />
                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="Email" class="control-label"></label>
                <input  required="" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Sdt" class="control-label"></label>
                <input  required="" asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="ViDienTu" class="control-label"></label>
                <input  required="" asp-for="ViDienTu" class="form-control" />
                <span asp-validation-for="ViDienTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>


