@model Do_an_CCNPMM.ViewModels.HomeVM
@{
    ViewData["Title"] = "SoDiaChi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Customer Information</h1>
                <nav class="d-flex align-items-center">
                    <a asp-area="" asp-controller="Home" asp-action="Loadsanpham">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Customer</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="NoidungChinh">
    <div class="Noidung1">
        <div class="title_hello">
            <h5 class="title_trangtaikhoan">User Page</h5>
            <p>
                Hello,
                <span>@ViewBag.khachhang.TenNguoiDung </span>
            </p>
        </div>
        <ul class="noidung1_1">
            <li><a class="noidungInfo" asp-action="ChiTietNG">User infomation</a></li>
            <li><a class="noidungInfo_active" asp-action="DonHang">Your orders</a></li>
            <li><a class="noidungInfo" href="@Url.Action("EditMK", new { id =@ViewBag.khachhang.MaNguoiDung })">Change password</a></li>
            <li><a asp-controller="Home" asp-action="Loadsanpham">Log out</a></li>
        </ul>
    </div>
    <form asp-action="SoDiaChi">

        <div class="Noidung2">
            <h2 class="title_Chinh">Số địa chỉ</h2>
            <div class="KhungDiaChi">

                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>Dịa Chỉ</th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.diachi != null)
                                {
                                    foreach (var item in @ViewBag.diachi)
                                    {
                                        <tr>
                                            <td>
                                                @item.DiaChi
                                            </td>



                                            <td>
                                                <div class="btn-group btn-group-sm " style="margin-left:50px">
                                                    @*<a>
                                                        <i class="fas fa-pen btn btn-primary "></i>
                                                    </a>
                                                    <a>
                                                        <i class="fas fa-clipboard-list btn btn-warning "></i>
                                                    </a>*@
                                                    <!-- Button trigger modal -->
                                                    <a>
                                                        <i class="fas fa-trash-alt btn btn-danger "></i>
                                                    </a>

                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            Chưa có địa chỉ
                                        </td>



                                        <td>
                                            <div class="btn-group btn-group-sm " style="margin-left:50px">
                                                @*<a>
                                                    <i class="fas fa-pen btn btn-primary "></i>
                                                </a>
                                                <a>
                                                    <i class="fas fa-clipboard-list btn btn-warning "></i>
                                                </a>*@
                                                <!-- Button trigger modal -->
                                                <a>
                                                    <i class="fas fa-trash-alt btn btn-danger "></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <input asp-for="DiaChi" class="form-control" />
                <div class="btn_DC">
                    <button type="submit" onclick="" class="btn_addAddress">Thêm địa chỉ</button>
                </div>
            </div>
    </form>



</section>