@model Do_an_CCNPMM.Models.NguoiDung

@{

	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Đăng nhập/Đăng ký</h1>
				<nav class="d-flex align-items-center">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Loadsanpham">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
					<a>Đăng nhập/Đăng ký</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
@{

	if (@ViewBag.mess != null)
	{
		<div class="col align-items-center">
			<div class="alert alert-danger col-lg-2 " role="alert">
				@ViewBag.mess
			</div>
		</div>
	}
}
<!--================Register Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container d-flex justify-content-center">
		<div class="col-lg-6 align-content-center">
			<div class="login_form_inner">
				<h3 >Đăng ký để truy cập</h3>

				<form accept-charset="utf-8" class="row login_form" asp-area="User" asp-controller="UserLogin" asp-action="Register" id="customer_register" method="post" id="contactForm" novalidate="novalidate">
					<input name="FormType" type="hidden" value="customer_register">
					<input name="utf8" type="hidden" value="true">
					<input type="hidden" id="" name="Token" value="">

					<div class="col-md-12 form-group">
							<input placeholder="Nhập Họ Và Tên" required="" asp-for="TenNguoiDung" class="form-control" />
							<span asp-validation-for="TenNguoiDung" class="text-danger"></span>
					</div>

					<div class="col-md-12 form-group">
							<input placeholder="Nhập Tên Đăng Nhập" required="" asp-for="TenDangNhap" class="form-control" />
							<span asp-validation-for="TenDangNhap" class="text-danger"></span>
					</div>

					<div class="col-md-12 form-group">
							<input asp-for="Sdt" required="" placeholder="Nhập Số Điện Thoại" class="form-control" />
							<span asp-validation-for="Sdt" class="text-danger"></span>
					</div>

					<div class="col-md-12 form-group">
						<input asp-for="Email" placeholder="Email*" type="email" class="form-control" data-validation="email"
								data-validation-error-msg="Email sai định dạng" value="" name="email" id="email" required="">
					</div>

					<div class="form-group">
						<input type="hidden" asp-for="Salt" value="1" class="form-control" />
					</div>

					<div class="col-md-12 form-group">
						<input type="password" asp-for="MatKhauHash" required="" class="form-control" id="name" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						<span asp-validation-for="MatKhauHash" class="text-danger"></span>

					</div>
					<div class="col-md-12 form-group section_gap d-flex justify-content-lg-center align-content-center ">
						<button type="submit" value="submit" class="primary-btn">Đăng ký</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
