@model Do_an_TMDT.ViewModels.HomeVM;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/1.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>

    @RenderBody()


    @await Html.PartialAsync("Footer.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
    <script src="js/giohang.js">

    </script>
</body>
</html>